.top_highlight_contain{
    padding-bottom: 25px;
}

.top_highlights{
    display: flex; 
    margin-top: 15px;   
}

._highlight{
    flex: 1;
}

._highlight:last-child{
    text-align: right;
}

._value{
    margin-bottom: 10px;
    color: #1395ff;
}

.tip{
    margin: 10px 0;
    text-align: center;
}

.tip img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
