#settings-link{
    position: absolute;
    right: 20px;
}

#settings-link img{
    width: 25px;
    height: 25px;
}

#lang_select_box{
    margin: 25px auto;
    text-align: center;
    border: solid 1px grey;
    padding: 10px 25px;
    border-radius: 35px;
}
